---
import Layout from "../layouts/Layout.astro";
import Topbar from "../components/base/Topbar.astro";
import Profile from "../components/Profile.astro";
import Services from "../components/Services.astro";
---

<Layout title="MJlogopedia">
  <Topbar
    options={[
      { title: "Inicio", link: "#" },
      { title: "Servicios", link: "#services" },
    ]}
  />
  <main class="information-wrapper">
    <Profile />
    <div class="services">
      <Services />
    </div>
  </main>
</Layout>
<style>
  .information-wrapper {
    display: grid;
    padding: 1rem 2rem 2rem 2rem;
    grid-template-columns: 5fr 3fr;
    gap: 2rem;
    margin-top: var(--topbar-height);
  }
  .services {
    grid-column: 1 / -1;
  }
</style>
