---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import Topbar from "../components/Topbar.astro";
import Services from "../components/Services.astro";
---

<Layout title="MJLogopedia">
  <Topbar
    options={[
      { title: "Inicio", link: "#" },
      { title: "Servicios", link: "#services" },
      { title: "Contacto", link: "#" },
    ]}
  />
  <div class="section-wrapper">
    <Profile
      class="profile-item"
      title="María Ortiz Jiménez"
      image="/profile.png"
    />
    <Services class="services-item" />
  </div>
</Layout>
<style>
  .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem 10rem;
    max-width: min(2000px, 90vw);
    margin: 0 auto;
  }

  @media (width <= 1300px) {
    .section-wrapper {
      gap: 3rem;
    }
  }
</style>
