---
import { services } from "../information.json";
import Card from "./base/Card.astro";
---

<section class="services-wrapper" id="services">
  <h1>{services.title}</h1>
  <div class="services-container">
    {
      services.entries.map((service) => (
        <Card
          title={service.title}
          description={service.description}
          titleSize="md"
        >
          <img class="service-image" src={service.image} />
        </Card>
      ))
    }
  </div>
</section>
<style>
  h1 {
    font-size: 2rem;
    margin-left: 0.5rem;
  }
  .services-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
  }
  .services-container img.service-image {
    margin-top: auto;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-bottom: -1.5rem;
  }

  @media (768px <= width <= 1500px) {
    .services-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (width <= 768px) {
    .services-container {
      grid-template-columns: 1fr;
    }
  }
</style>
