---
import Card from "./Card.astro";
import { services } from "../information.json";
---

<section class="service-container" id="services">
  {
    services.entries.map((service) => (
      <Card
        title={service.title}
        description={service.description}
        image={service.image}
      />
    ))
  }
</section>
<style>
  .service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    min-height: var(--section-height);
    max-height: var(--section-height)
  }
  .service-container img {
    padding-top: 1rem;
    max-width: 100%;
    min-width: 100%;
    max-height: calc(var(--section-height) * 0.7);
    object-fit: cover;
  }

  @media (width <= 1300px) {
    .service-container {
      display: flex;
      flex-direction: column;
      max-width: var(--small-screen-section-width);
      max-height: unset;
      min-height: unset;
      margin: 0 auto;
    }
  }
</style>
