---

---

<aside class="showcase-container box">
  <h3>Educación</h3>
  <div class="showcase-entry">
    <h4>Grado en Logopedia</h4>
    <p>Universidad de Málaga - 2017-2021</p>
  </div>
  <div class="showcase-entry">
    <h4>Máster en Atención Temprana</h4>
    <p>Universidad de Málaga - 2021-2022</p>
  </div>
  <div class="showcase-entry">
    <h4>Máster en Terapia Miofuncional</h4>
    <p>Universidad de Málaga - 2022-2023</p>
  </div>
</aside>
<style>
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .showcase-container h3 {
    font-size: 2rem;
    font-weight: 200;
    font-variant: petite-caps;
  }
  .showcase-container .showcase-entry {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-top: 4px solid var(--border);
    width: 100%;
    max-width: 600px;
  }
  .showcase-container .showcase-entry h4 {
    font-size: 1.25rem;
    margin: 0;
  }
  .showcase-container .showcase-entry p {
    margin: 0;
  }
</style>
